<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img src="../../assets/img/adventure-1.jpeg" alt="adventure-poster" />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">Adventure Film</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
          voluptate quas praesentium culpa sint corrupti sapiente, cupiditate
          hic illo voluptates incidunt ullam libero a ratione repudiandae vitae
          natus, quos consequatur. Perspiciatis corrupti numquam eaque
          cupiditate consequuntur! Deserunt saepe dignissimos assumenda vero
          illo ipsam incidunt eligendi, earum laborum repudiandae reprehenderit
          perferendis, consequatur, quos consequuntur et fugit quae facilis!
          Vel, pariatur! Animi.
        </p>
        <button class="btn btn-sm btn-outline-primary">Details</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/img/romance-1.jpeg" alt="romance-poster" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">Romance Film</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            voluptate quas praesentium culpa sint corrupti sapiente, cupiditate
            hic illo voluptates incidunt ullam libero a ratione repudiandae vitae
            natus, quos consequatur. Perspiciatis corrupti numquam eaque
            cupiditate consequuntur! Deserunt saepe dignissimos assumenda vero
            illo ipsam incidunt eligendi, earum laborum repudiandae reprehenderit
            perferendis, consequatur, quos consequuntur et fugit quae facilis!
            Vel, pariatur! Animi.
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/img/drama.jpeg" alt="drama-poster" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">Drama Film</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            voluptate quas praesentium culpa sint corrupti sapiente, cupiditate
            hic illo voluptates incidunt ullam libero a ratione repudiandae vitae
            natus, quos consequatur. Perspiciatis corrupti numquam eaque
            cupiditate consequuntur! Deserunt saepe dignissimos assumenda vero
            illo ipsam incidunt eligendi, earum laborum repudiandae reprehenderit
            perferendis, consequatur, quos consequuntur et fugit quae facilis!
            Vel, pariatur! Animi.
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>


  
  <app-movie></app-movie>
  